* {
  scrollbar-color: rgb(37, 56, 97), rgb(0 0 0 / 70%);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  &-thumb {
    background-color: rgb(37, 56, 97);
    border-radius: 2px;
  }

  &-track {
    background-color: rgb(0 0 0 / 70%);
  }

  &-corner {
    background-color: rgb(0 0 0 / 70%);
  }
}