.wrapper {
  --color-name: var(--color-primary);
  margin-top: 45px;
  padding-bottom: var(--space-xl);
}

.name {
  padding: var(--gutter);
  border-radius: var(--border-radius-s);
  border-bottom-left-radius: 0;
  font-size: var(--font-size-main);
  display: inline-block;
  color: var(--color-white);
  background-color: var(--color-name);
}

.info {
  padding: var(--space-m);
  display: flex;
  flex-wrap: wrap;
  border-left: 5px solid var(--color-name);
  border-bottom-left-radius: var(--border-radius-s);
  border-bottom-right-radius: var(--border-radius-s);
}